/* 共通フォームスタイル */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff7f0;
    height: 100vh;
}

.genbtn{
    display: block;
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgb(90, 90, 90);
    width: 200px;
    height: 50px;
    margin: 20px 0;
}

.genbtn:hover{

}

.text-center{
    text-align: center;
}

.flex{
    display: flex;
}

.block-center{
    margin: 0 auto 0;
    background-color: aqua;
}

.large-block{
    width: fit-content;
    padding: 20px;
    /* background-color: #fff7f0; */
}

.innerblk{
    margin: 40px auto;
}

.container{

}

.text-justify{
    text-align: justify;
}

.sbtn{
    width: 100px;
    height: 30px;
    font-size: 0.8rem;
}

.adjust-right{
    margin:0 10px 0 auto;
}

/* ページ個別のスタイル
    ページごとに接頭辞をつけて区別する*/
